header,
section,
footer {
    padding: 100px 0;
}

header {
    padding: 200px 0 400px 0;
}

header,
footer,
section {
    background: #9a1e75;
    background: -moz-linear-gradient(left, #9a1e75 0%, #e87ed3 100%);
    background: -webkit-linear-gradient(left, #9a1e75 0%, #e87ed3 100%);
    background: linear-gradient(to right, #9a1e75 0%, #e87ed3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9a1e75', endColorstr='#e87ed3', GradientType=1);
}

.itd-play {
    background-color: #9a1e75;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 50px auto;
    transition: all .3s ease;
}

.itd-play:hover {
    background-color: #e87ed3;
}

.itd-triangle {
    margin-right: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.itd-btn {
    display: block;
    max-width: 250px;
    margin: 0 auto;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section_title {
    margin-bottom: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}